body {
  margin-top: 50px;
  font-family: 'IBM Plex Sans', sans-serif;
}

h1 {
  font-size: 3em;
}

.center {
  max-width: 600px;
  margin: 0 auto;
}

.green {
  color: #0F7F12;
}

.center-in-div {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -0%);
  transform: translate(-50%, -0%);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 15px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

canvas {
  border-radius: 15px 15px 0px 0px;
}

.container {
  padding: 2px 16px;
}

.qr-btn {
  background-color: #3654DD;
  padding: 10px 20px;
  font-size: 25px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.select {
  display:flex;
  flex-direction: column;
  position:relative;
  float:left;
  min-width: 350px;
  margin-right: 20px;
}

#preview {
  border-radius: 2px;
  border:#222 solid 1px;
}

.option {
  padding:0 30px 0 10px;
  min-height:48px;
  font-size: 20px;
  display:flex;
  align-items:center;
  background:#273c9b;
  border-top:#222 solid 1px;
  position:absolute;
  top:0;
  width: 100%;
  pointer-events:none;
  order:2;
  z-index:1;
  transition:background .4s ease-in-out;
  box-sizing:border-box;
  overflow:hidden;
  white-space:nowrap;
  color: white;
  border: none;
  border-radius: 4px;
}

.option:hover {
  background:#3654DD;
  border: none;
  border-radius: 0px;
}

.select:focus .option {
  position:relative;
  pointer-events:all;
  border: none;
  border-radius: 0px;
}

input {
  opacity:0;
  position:absolute;
  left:-99999px;
}

input:checked + label {
  order: 1;
  z-index:2;
  background:#3654DD;
  border-top:none;
  position:relative;
}

input:checked + label:after {
  content:'';
  width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid white;
  position:absolute;
  right:10px;
  top:calc(50% - 2.5px);
  pointer-events:none;
  z-index:3;
}

input:checked + label:before {
  position:absolute;
  right:0;
  height: 40px;
  width: 40px;
  content: '';
  background:#3654DD;
}