body {
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0px;
}

.center {
  max-width: 1100px;
  margin: 30px auto 0 auto;
}

button {
  background-color: #3654DD;
  padding: 8px;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 1000px) {
  .center {
    width: 100%;
    margin: 30px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
  }
}
