body {
  margin-top: 50px;
  font-family: 'IBM Plex Sans', sans-serif;
}

.center {
  width: 1500px;
  margin: 0 auto;
}

.center2 {
  max-width: 800px;
  margin: 0 auto;
}

li {
  line-height: 22px;
}

input {
  padding: 5px;
  margin: 3px;
  background-color: transparent;
  border: none;
  border-bottom: solid 2px #3654DD;
  width: 160px;
  font-size: 16px;
}

input[type="checkbox"] {
  padding: 5px;
  margin: 3px;
  height: 22px;
  width: 160px;
  font-size: 16px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bcbcbc;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #bcbcbc;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #bcbcbc;
}

.checkboxes input {
  vertical-align: middle;
  width:22px;
}

textarea {
  margin-top: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

.invisible {
  display: none;
}

.visible {
  display: block;
}

.qr-btn {
  background-color: #3654DD;
  padding: 8px;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.center-in-div {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -0%);
  transform: translate(-50%, -0%);
}

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.third {
  float: left;
  width: 25.5%;
  margin: 0px;
  padding-right: 5px;
  padding-left: 5px;
}

.quarter {
  float: left;
  width: 19%;
  margin: 0px;
  padding-right: 5px;
  padding-left: 5px;
}

.half {
  float: left;
  width: 49%;
  margin: 0px;
  padding-right: 5px;
  padding-left: 5px;
}

.four-quarter {
  float: left;
  width: 78%;
  margin: 0px;
  padding-right: 5px;
  padding-left: 5px;
}

.two-quarter {
  float: left;
  width: 38.5%;
  margin: 0px;
  padding-right: 5px;
  padding-left: 5px;
}

.full-div {
  clear: both;
  width: 100%;
}

.protocol {
  color: red;
}
.crypto-algo {
  color: rgb(155, 148, 51);
}
.signature {
  color: green;
}
.pub-key {
  color:blue;
}
.message {
  color: rgb(197, 107, 197);
}