body {
  margin-top: 50px;
  font-family: 'IBM Plex Sans', sans-serif;
}

h1 {
  font-size: 3em;
}

.center {
  max-width: 600px;
  margin: 0 auto;
}

.green {
  color: #0F7F12;
}

.center-in-div {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -0%);
  transform: translate(-50%, -0%);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 15px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

canvas {
  border-radius: 15px 15px 0px 0px;
}

.container {
  padding: 2px 16px;
}

.qr-btn {
  background-color: #3654DD;
  padding: 10px 20px;
  font-size: 25px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}